/* إجبار الصفحة على البدء من اليمين */
html {
    direction: rtl;
}

/* إبقاء لغة البرمجة والنتائج الرياضية من اليسار لليمين */
div.highlight, pre, code, .math {
    direction: ltr !important;
    text-align: left !important;
    display: block;
}

/* إصلاح مكان الأيقونات في القائمة الجانبية */
.bd-sidebar {
    text-align: right;
}
