/* ضبط الاتجاه العام */
body {
    direction: rtl;
    text-align: right;
}

/* الحفاظ على اتجاه الكود البرمجي من اليسار لليمين */
code, pre {
    direction: ltr !important;
    text-align: left !important;
    display: block;
}

/* ضبط مكان القائمة الجانبية */
.bd-sidebar {
    order: 1;
}

/* ضبط المسافات للأيقونات في القائمة */
.nav-link i {
    margin-left: 10px;
    margin-right: 0px;
}
